/* Shared properties */
.header,
.ingredients {
    font-family: 'VT323', serif;
}
/* Shared properties */
.list,
.directions {
    font-size: 14px;
    font-family: monospace, serif;
}
/* Shared properties */
.mlogo,
.recipe-logo {
    display: block;
    height: auto; 
    margin-right: auto;
    margin-left: auto;
}

.header {
    text-align: center;
    font-size: 84px;
}

.credits {
    text-align: center;
    font-family: 'Indie Flower', serif;
}

.ingredients {
    font-size: 25px;
    margin : 0;
    padding: 0;
}

.recipes-img {
    width: 150px;
    height: 150px;
}

.recipe-logo {
    width: 15%;
}

.row {
    display: flex;
    justify-content: space-around;
}